## Subscription Metrics Calculation NB

### Libraries

In [1]:
import pandas as pd
import numpy as np
import dateutil.parser as dpar
from datetime import datetime, timedelta

### Inputs

In [2]:
# Transaction init
dfip=pd.read_csv("00 Inputs\\01 Transaction_init_Feb20.csv")

#ETPay
tl0=pd.read_csv("00 Inputs\\transaction_list_Dec19.csv")

C:\Users\akhil.nair1\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (12,29,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
tl0.head()

In [3]:
dfip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121922 entries, 0 to 121921
Data columns (total 58 columns):
_class                                                     121922 non-null object
_id                                                        121922 non-null object
auto_renew                                                 121922 non-null bool
bill_transaction_payment_state                             121922 non-null object
bill_transaction_source                                    121916 non-null object
bill_transaction_state                                     121922 non-null object
bill_transanction_type                                     121855 non-null object
billing_currency                                           117370 non-null object
created_on                                                 121922 non-null object
expiry_date_from_payment                                   53326 non-null object
final_billing_amount                                       117374 non-null float64
geo_region_code                                            121921 non-null object
is_migrated                                                14311 non-null object
merchant_code                                              121922 non-null object
modidied_on                                                121922 non-null object
payment_reference_id                                       51341 non-null object
payment_success_date                                       57970 non-null object
plan_code                                                  121922 non-null object
plan_duration                                              109388 non-null float64
plan_duration_unit                                         109388 non-null object
plan_id                                                    121922 non-null float64
plan_name                                                  121922 non-null object
plan_price                                                 117375 non-null float64
plan_trial_duration                                        109388 non-null float64
plan_trial_duration_unit                                   109388 non-null object
platform                                                   121320 non-null object
primary_user_identifier                                    121345 non-null object
primary_user_identifier_type                               121922 non-null object
product_code                                               121922 non-null object
scheduled_check_pay_status                                 121921 non-null object
subscription_id                                            53530 non-null object
trial_avalability                                          121922 non-null bool
user_billing_transaction._id                               53511 non-null object
user_billing_transaction.auto_renew                        53513 non-null object
user_billing_transaction.bill_transaction_payment_state    53513 non-null object
user_billing_transaction.bill_transaction_source           53513 non-null object
user_billing_transaction.bill_transaction_state            53513 non-null object
user_billing_transaction.bill_transanction_type            53506 non-null object
user_billing_transaction.billing_currency                  52409 non-null object
user_billing_transaction.created_on                        53513 non-null object
user_billing_transaction.expiry_date_from_payment          46554 non-null object
user_billing_transaction.final_billing_amount              52408 non-null float64
user_billing_transaction.geo_region_code                   49505 non-null object
user_billing_transaction.is_migrated                       14218 non-null object
user_billing_transaction.merchant_code                     53513 non-null object
user_billing_transaction.modidied_on                       53513 non-null object
user_billing_transaction.parent_init_transaction_id        53510 non-null object
user_billing_transaction.payment_reference_id              50322 non-null object
user_billing_transaction.payment_success_date              53511 non-null object
user_billing_transaction.plan_code                         53513 non-null object
user_billing_transaction.plan_id                           53513 non-null float64
user_billing_transaction.plan_name                         53513 non-null object
user_billing_transaction.plan_price                        52409 non-null float64
user_billing_transaction.platform                          52910 non-null object
user_billing_transaction.product_code                      53513 non-null object
user_billing_transaction.renew_subscription_start_date     20812 non-null object
user_billing_transaction.trial_avalability                 53513 non-null object
user_billing_transaction.user_subscription_account_id      53513 non-null object
dtypes: bool(2), float64(8), object(48)
memory usage: 52.3+ MB

## Using ET Pay to get Revenue Numbers

In [ ]:
# Filtering ET Prime

tl1=tl0[(tl0["Product Name"]=='et_qtly_prime_1')|
        (tl0["Product Name"]=='ET Prime Subscription For 3 Months')|
        (tl0["Product Name"]=='Android 2 yearly membership')|
        (tl0["Product Name"]=='com.til.ETiphone.1year')|
        (tl0["Product Name"]=='2 Yearly Membership')|
        (tl0["Product Name"]=='ET Prime Annual Subscription')|
        (tl0["Product Name"]=='IOS month')|
        (tl0["Product Name"]=='Monthly')|
        (tl0["Product Name"]=='et_yearly_prime')|
        (tl0["Product Name"]=='com.til.ETiphone.3months')|
        (tl0["Product Name"]=='android monthly')|
        (tl0["Product Name"]=='SWG Annual Plan')]

In [ ]:
# Total Revenue
tl_s=tl1[tl1["Status"]=="Success"]
tl_s_amf=tl_s[(tl_s["Currency"]=="INR")|(tl_s["Currency"]=="1")]

a=tl_s_amf["Amount Paid"].sum()

tl_s_am2=tl_s[(tl_s["Currency"]!="INR")&(tl_s["Currency"]!="1")]

b=tl_s_am2["Amount Due"].sum()

c=tl1[(tl1["Status"]=="Refunded")&((tl1["Currency"]=="INR")|(tl1["Currency"]=="1"))]["Amount Paid"].sum()

d=tl1[(tl1["Status"]=="Refunded")&((tl1["Currency"]!="INR")&(tl1["Currency"]!="1"))]["Amount Due"].sum()

e=tl1[(tl1["Status"]=="Refunded")]["Refund Amount"].sum()

tot_rev=a+b+c+d-e

In [ ]:
# Monthly

tl=tl1[(tl1["Product Name"]=='android monthly')|(tl1["Product Name"]=='IOS month')|(tl1["Product Name"]=='Monthly')|(tl1["Product Name"]=='ET Prime Subscription For 1 Month')]

tl_s=tl[tl["Status"]=="Success"]
tl_s_amf=tl_s[(tl_s["Currency"]=="INR")|(tl_s["Currency"]=="1")]

a1=tl_s_amf["Amount Paid"].sum()

tl_s_am2=tl_s[(tl_s["Currency"]!="INR")&(tl_s["Currency"]!="1")]

b1=tl_s_am2["Amount Due"].sum()

c1=tl[(tl["Status"]=="Refunded")&((tl["Currency"]=="INR")|(tl["Currency"]=="1"))]["Amount Paid"].sum()

d1=tl[(tl["Status"]=="Refunded")&((tl["Currency"]!="INR")&(tl["Currency"]!="1"))]["Amount Due"].sum()

e1=tl[(tl["Status"]=="Refunded")]["Refund Amount"].sum()

mon_rev=a1+b1+c1+d1-e1

In [ ]:
# Quarterly

'et_qtly_prime_1', 
'ET Prime Subscription For 3 Months',
'com.til.ETiphone.3months', 

tl=tl1[(tl1["Product Name"]=='et_qtly_prime_1')|(tl1["Product Name"]=='ET Prime Subscription For 3 Months')|(tl1["Product Name"]=='com.til.ETiphone.3months')]

tl_s=tl[tl["Status"]=="Success"]
tl_s_amf=tl_s[(tl_s["Currency"]=="INR")|(tl_s["Currency"]=="1")]

a2=tl_s_amf["Amount Paid"].sum()

tl_s_am2=tl_s[(tl_s["Currency"]!="INR")&(tl_s["Currency"]!="1")]

b2=tl_s_am2["Amount Due"].sum()

c2=tl[(tl["Status"]=="Refunded")&((tl["Currency"]=="INR")|(tl["Currency"]=="1"))]["Amount Paid"].sum()

d2=tl[(tl["Status"]=="Refunded")&((tl["Currency"]!="INR")&(tl["Currency"]!="1"))]["Amount Due"].sum()

e2=tl[(tl["Status"]=="Refunded")]["Refund Amount"].sum()

qtly_rev=a2+b2+c2+d2-e2

In [ ]:
# Annual

tl=tl1[(tl1["Product Name"]=='et_yearly_prime')|(tl1["Product Name"]=='com.til.ETiphone.1year')|(tl1["Product Name"]=='ET Prime Annual Subscription')|(tl1["Product Name"]=='SWG Annual Plan')]

tl_s=tl[tl["Status"]=="Success"]
tl_s_amf=tl_s[(tl_s["Currency"]=="INR")|(tl_s["Currency"]=="1")]

a3=tl_s_amf["Amount Paid"].sum()

tl_s_am2=tl_s[(tl_s["Currency"]!="INR")&(tl_s["Currency"]!="1")]

b3=tl_s_am2["Amount Due"].sum()

c3=tl[(tl["Status"]=="Refunded")&((tl["Currency"]=="INR")|(tl["Currency"]=="1"))]["Amount Paid"].sum()

d3=tl[(tl["Status"]=="Refunded")&((tl["Currency"]!="INR")&(tl["Currency"]!="1"))]["Amount Due"].sum()

e3=tl[(tl["Status"]=="Refunded")]["Refund Amount"].sum()

annual_rev=a3+b3+c3+d3-e3

In [ ]:
## 2-Year

tl=tl1[(tl1["Product Name"]=='Android 2 yearly membership')|(tl1["Product Name"]=='2 Yearly Membership')]

tl_s=tl[tl["Status"]=="Success"]
tl_s_amf=tl_s[(tl_s["Currency"]=="INR")|(tl_s["Currency"]=="1")]

a3=tl_s_amf["Amount Paid"].sum()

tl_s_am2=tl_s[(tl_s["Currency"]!="INR")&(tl_s["Currency"]!="1")]

b3=tl_s_am2["Amount Due"].sum()

c3=tl[(tl["Status"]=="Refunded")&((tl["Currency"]=="INR")|(tl["Currency"]=="1"))]["Amount Paid"].sum()

d3=tl[(tl["Status"]=="Refunded")&((tl["Currency"]!="INR")&(tl["Currency"]!="1"))]["Amount Due"].sum()

e3=tl[(tl["Status"]=="Refunded")]["Refund Amount"].sum()

y2_rev=a3+b3+c3+d3-e3

In [ ]:
tot_rev

In [ ]:
mon_rev

In [ ]:
qtly_rev

In [ ]:
annual_rev

In [ ]:
y2_rev

In [ ]:
annual_rev+qtly_rev+mon_rev+y2_rev

### -------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Using Transaction init to get the other metrics

### Reqd. Columns

In [5]:
df=dfip[['_id','auto_renew','bill_transaction_payment_state','bill_transaction_source','bill_transanction_type','billing_currency','created_on','final_billing_amount','payment_reference_id','plan_code','plan_id','platform','primary_user_identifier','primary_user_identifier_type']]

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91866 entries, 0 to 91865
Data columns (total 15 columns):
_id                               91866 non-null object
auto_renew                        91866 non-null bool
bill_transaction_payment_state    91866 non-null object
bill_transaction_source           91861 non-null object
bill_transanction_type            91842 non-null object
billing_currency                  89520 non-null object
coupon_discount                   13429 non-null float64
created_on                        91866 non-null object
final_billing_amount              89523 non-null float64
payment_reference_id              42709 non-null object
plan_code                         91866 non-null object
plan_id                           91866 non-null float64
platform                          91264 non-null object
primary_user_identifier           91716 non-null object
primary_user_identifier_type      91866 non-null object
dtypes: bool(1), float64(3), object(11)
memory usage: 9.9+ MB

### Only ET Prime

In [68]:
df_etp=df[
    (
        (df['plan_id']==1)|
        (df['plan_id']==2)|
        (df['plan_id']==3)|
        (df['plan_id']==8)
    )&
    (
        (df['final_billing_amount']==399)|
        (df['final_billing_amount']==999)|
        (df['final_billing_amount']==2499)|
        (df['final_billing_amount']==3599)
    )
        ]

In [69]:
df_etp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37877 entries, 1 to 91859
Data columns (total 15 columns):
_id                               37877 non-null object
auto_renew                        37877 non-null bool
bill_transaction_payment_state    37877 non-null object
bill_transaction_source           37873 non-null object
bill_transanction_type            37871 non-null object
billing_currency                  37877 non-null object
coupon_discount                   12116 non-null float64
created_on                        37877 non-null object
final_billing_amount              37877 non-null float64
payment_reference_id              26266 non-null object
plan_code                         37877 non-null object
plan_id                           37877 non-null float64
platform                          37850 non-null object
primary_user_identifier           37860 non-null object
primary_user_identifier_type      37877 non-null object
dtypes: bool(1), float64(3), object(11)
memory usage: 4.4+ MB

### Defining next payment date

In [70]:
df_etp['exp_days']=np.where(df_etp['plan_id']==1,29,
                            np.where(df_etp['plan_id']==2,89,
                                     np.where(df_etp['plan_id']==3,364,
                                              np.where(df_etp['plan_id']==8,729,0
                                                      )
                                              )
                                     )
                            )

C:\Users\akhil.nair1\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [71]:
df_etp['created_on']=df_etp['created_on'].apply(lambda x: dpar.parse(x).strftime('%m/%d/%Y'))

df_etp['created_on']=pd.to_datetime(df_etp['created_on'])
df_etp['exp_days']=pd.to_timedelta(df_etp['exp_days'],unit='d')
df_etp['exp_on']=df_etp['created_on']+df_etp['exp_days']

C:\Users\akhil.nair1\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\akhil.nair1\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\akhil.nair1\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\akhil.nair1\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

#### Exp Month

In [74]:
df_etp['start_month']=pd.DatetimeIndex(df_etp['created_on']).year.astype(str)+pd.DatetimeIndex(df_etp['created_on']).month.astype(str).str.zfill(2)
df_etp['exp_month']=pd.DatetimeIndex(df_etp['exp_on']).year.astype(str)+pd.DatetimeIndex(df_etp['exp_on']).month.astype(str).str.zfill(2)

C:\Users\akhil.nair1\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\akhil.nair1\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [75]:
df_etp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37877 entries, 1 to 91859
Data columns (total 19 columns):
_id                               37877 non-null object
auto_renew                        37877 non-null bool
bill_transaction_payment_state    37877 non-null object
bill_transaction_source           37873 non-null object
bill_transanction_type            37871 non-null object
billing_currency                  37877 non-null object
coupon_discount                   12116 non-null float64
created_on                        37877 non-null datetime64[ns]
final_billing_amount              37877 non-null float64
payment_reference_id              26266 non-null object
plan_code                         37877 non-null object
plan_id                           37877 non-null float64
platform                          37850 non-null object
primary_user_identifier           37860 non-null object
primary_user_identifier_type      37877 non-null object
exp_days                          37877 non-null timedelta64[ns]
exp_on                            37877 non-null datetime64[ns]
start_month                       37877 non-null object
exp_month                         37877 non-null object
dtypes: bool(1), datetime64[ns](2), float64(3), object(12), timedelta64[ns](1)
memory usage: 5.5+ MB

#### Expiry current month

In [156]:
curr_month="201911"  ### Update this ###
prev_month="201910"  ### Update this ###
next_month="201912"  ### Update this ###

In [157]:
df_etp["bill_transaction_payment_state"].unique()

array(['PAYMENT_SUCCESS', 'PAYMENT_INTIALIZED', 'PAYMENT_NOT_INTIALIZED',
       'TRANSACTION_SUCCESS', 'PAYMENT_FAILED'], dtype=object)

In [158]:
df_filt0=df_etp[(df_etp["bill_transaction_payment_state"]=="PAYMENT_SUCCESS")|(df_etp["bill_transaction_payment_state"]=="TRANSACTION_SUCCESS")]
df_filt1=df_filt0[["primary_user_identifier","plan_id","bill_transanction_type","created_on","exp_on","start_month","exp_month","final_billing_amount"]]

In [159]:
df_filt1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26662 entries, 1 to 91859
Data columns (total 8 columns):
primary_user_identifier    26662 non-null object
plan_id                    26662 non-null float64
bill_transanction_type     26656 non-null object
created_on                 26662 non-null datetime64[ns]
exp_on                     26662 non-null datetime64[ns]
start_month                26662 non-null object
exp_month                  26662 non-null object
final_billing_amount       26662 non-null float64
dtypes: datetime64[ns](2), float64(2), object(4)
memory usage: 1.8+ MB

In [160]:
df_exp=df_filt1[df_filt1["exp_month"]==curr_month]

In [136]:
df_exp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2585 entries, 50 to 72958
Data columns (total 8 columns):
primary_user_identifier    2585 non-null object
plan_id                    2585 non-null float64
bill_transanction_type     2585 non-null object
created_on                 2585 non-null datetime64[ns]
exp_on                     2585 non-null datetime64[ns]
start_month                2585 non-null object
exp_month                  2585 non-null object
final_billing_amount       2585 non-null float64
dtypes: datetime64[ns](2), float64(2), object(4)
memory usage: 181.8+ KB

In [161]:
df_exp.sort_values(["primary_user_identifier","created_on"],ascending=[True,False],inplace=True)
df_exp.drop_duplicates(subset='primary_user_identifier',keep='first',inplace=True)

C:\Users\akhil.nair1\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\akhil.nair1\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [138]:
df_exp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2485 entries, 41433 to 42584
Data columns (total 8 columns):
primary_user_identifier    2485 non-null object
plan_id                    2485 non-null float64
bill_transanction_type     2485 non-null object
created_on                 2485 non-null datetime64[ns]
exp_on                     2485 non-null datetime64[ns]
start_month                2485 non-null object
exp_month                  2485 non-null object
final_billing_amount       2485 non-null float64
dtypes: datetime64[ns](2), float64(2), object(4)
memory usage: 174.7+ KB

In [162]:
df_new1=df_filt1[((df_filt1["start_month"]==curr_month)|(df_filt1["start_month"]==next_month)|(df_filt1["start_month"]==prev_month))&(df_filt1["exp_month"]>curr_month)]

In [163]:
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5744 entries, 45816 to 91859
Data columns (total 8 columns):
primary_user_identifier    5744 non-null object
plan_id                    5744 non-null float64
bill_transanction_type     5738 non-null object
created_on                 5744 non-null datetime64[ns]
exp_on                     5744 non-null datetime64[ns]
start_month                5744 non-null object
exp_month                  5744 non-null object
final_billing_amount       5744 non-null float64
dtypes: datetime64[ns](2), float64(2), object(4)
memory usage: 403.9+ KB

In [164]:
df_new1.sort_values(["primary_user_identifier","created_on"],ascending=[True,False],inplace=True)
df_new1.drop_duplicates(subset="primary_user_identifier",keep='first',inplace=True)

df_new2=df_new1[["primary_user_identifier","plan_id"]]
df_new2.rename(columns={"plan_id":"new_plan_id"},inplace=True)

C:\Users\akhil.nair1\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\akhil.nair1\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [165]:
df_new2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5484 entries, 52016 to 68330
Data columns (total 2 columns):
primary_user_identifier    5484 non-null object
new_plan_id                5484 non-null float64
dtypes: float64(1), object(1)
memory usage: 128.5+ KB

In [166]:
df3=pd.merge(df_exp,df_new2,on='primary_user_identifier',how='left')

In [144]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2485 entries, 0 to 2484
Data columns (total 9 columns):
primary_user_identifier    2485 non-null object
plan_id                    2485 non-null float64
bill_transanction_type     2485 non-null object
created_on                 2485 non-null datetime64[ns]
exp_on                     2485 non-null datetime64[ns]
start_month                2485 non-null object
exp_month                  2485 non-null object
final_billing_amount       2485 non-null float64
new_plan_id                1535 non-null float64
dtypes: datetime64[ns](2), float64(3), object(4)
memory usage: 194.1+ KB

In [110]:
#df3['new_plan_id'].fillna(0,inplace=True)

In [167]:
df3['change']=np.where(df3['new_plan_id']>df3['plan_id'],"Upgrade",
                       np.where(df3['new_plan_id']<df3['plan_id'],"Downgrade",
                                np.where(df3['new_plan_id']==df3['plan_id'],"Renew","Expire")))

In [168]:
dx=pd.DataFrame(df3.groupby(["plan_id","change"])["primary_user_identifier"].count())

In [169]:
# Retention by plan
# Total Retention
# churn Revenue
# upgrade/Retention
# downgrade/Retention
# CLV

# Retention by plan
dx.reset_index(level=[0,1], inplace=True)
#dx.pivot(index='plan_id',columns='change',values='primary_user_identifier')

In [170]:
dy=dx.pivot("plan_id","change","primary_user_identifier")

In [171]:
dy.reset_index(level=0,inplace=True)

In [172]:
dy.fillna(0,inplace=True)
dy["Retention"]=(1-(dy["Expire"]/(dy["Expire"]+dy["Renew"]+dy["Downgrade"]+dy["Upgrade"])))
dy["churned_revenue"]=np.where(dy["plan_id"]==1,399*dy["Expire"],
                               np.where(dy["plan_id"]==2,999*dy["Expire"],
                                        np.where(dy["plan_id"]==3,2499*dy["Expire"],
                                                 3599*dy["Expire"]
                                                )
                                       )
                              )

In [173]:
print(dy["churned_revenue"].sum()/100000)

9.53415

In [174]:
tot= dy["Downgrade"].sum() +dy["Upgrade"].sum() + dy["Renew"].sum() + dy["Expire"].sum()
Up=dy["Upgrade"].sum()/tot
Down=dy["Downgrade"].sum()/tot
ret_ovr = (1-(dy["Expire"].sum()/tot))

In [175]:
dy

change  plan_id  Downgrade  Expire  Renew  Upgrade  Retention  churned_revenue
0           1.0        0.0   209.0  715.0     11.0   0.776471          83391.0
1           2.0        0.0   213.0  256.0      5.0   0.550633         212787.0
2           3.0        3.0   263.0  168.0     17.0   0.416851         657237.0

In [176]:
#print(ret_ovr,Up,Down)
dy["Expire"].sum()

685.0

In [177]:
print(ret_ovr,Up,Down)

0.6317204301075269 0.017741935483870968 0.0016129032258064516

### -------------------------------------------------------------------------------------------------------------------------------------------------------------------